#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}

img {
  object-fit: cover;
  width: 100%;
  vertical-align: top;
  border-radius: 25px;
  border: 1px solid rgba(156, 153, 153, 0.384);
}

a {
  font-size: 0.8rem;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.384);
  width: 48.5%;
  min-width: 500px;
  margin: 5px 0;
  box-shadow: 5px 5px 4px 2px rgba(2, 2, 2, 0.196);
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: space-evenly;
}

.personal-information {
  flex: 1;
}

.picture {
  overflow: hidden;
  margin-right: 20px;
  width: 140px;
  min-width: 140px;
}

button {
  width: 130px;
  margin: 3px;
  cursor: pointer;
}

.hide {
  background-color: rgb(141, 3, 3);
}

.save {
  background-color: rgb(58, 93, 110);
}
